<h1>Add Bookmark to <%= @list.name %></h1>

<%= form_with(model: [@list, @bookmark], local: true) do |form| %>
  <%= form.label :movie_id, 'Select a Movie' %>
  <%= form.collection_select :movie_id, Movie.all, :id, :title %>

  <%= form.label :comment %>
  <%= form.text_field :comment %>

  <%= form.submit 'Add Bookmark' %>
<% end %>

<%= link_to 'Back to List', list_path(@list) %>